.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
README.html
data-raw/*.csv
.DS_Store
*.xlsx
data/gtrends_20040101-20220801.rds
data-raw/moe_alert_*.csv
data/gtrends_20040101-20230701.rds
data-raw/shelter
data/shelter/pref=*/*.geojson
